<%= stylesheet_link_tag '_footer' %>
<div>
<%= flash[:notice] %>
</div>
<div class= "container">
    <h1>全てのtext一覧（全<%= @posts.count %>件）</h1>

<% @posts.each do |post| %>

  <div class="row mt-5">
    <div class="col-3">
      <p>投稿者名：<%= post.user.name %>さん</p>
      <p><%= image_tag post.get_image(250, 250) %></p>
      <P><%= link_to "テキストの詳細をチェック", post_path(post.id) %></P>
    </div>
    <div class="box col-6">
      <%= link_to post_path(post.id) do %>
      <div class="post-title"><%= post.text_name %></div>
      <% end %>
      <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %>　　価格：<%= post.price %>円</p>
      <p>
        商品説明：<%= truncate(post.introduction, length: 90) do %>
            (続きは<%= link_to '詳細', post_path(post) %>をクリック。）
            <% end %>
      </p>
      <p>
        投稿者レビュー：<%= truncate(post.review, length: 90) do %>
            (続きは<%= link_to '詳細', post_path(post) %>をクリック。）
            <% end %>
      </p>
    </div>

    <div class="col-3 text-center">
      <%= 'みんなの評価' %><%= post.comments.average(:total_score).to_f.round(1) %>
      <div id="post_raty_<%= post.id %>" data-score="<%= post.comments.average(:total_score).to_f.round(1) %>"></div>
      <script>
            // scriptファイルをどのidの部分に配置するかを指定
      raty(document.querySelector('#post_raty_<%= post.id %>'),
          {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: <%= post.comments.average(:total_score).to_f.round(1) %>,
            readOnly: true,
            half: true,
          }
      );
      </script>

        <%= '読みやすさ' %>
        <div id="read_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:read_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#read_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:read_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

        <%= '価格の妥当性' %>
        <div id="price_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:price_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#price_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:price_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

        <%= '実用度' %>
        <div id="usability_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:usability_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#usability_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:usability_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

    <P><%= link_to "テキストの評価はこちら", post_path(post.id) %></P>
    </div>
  </div>

<% end %>
</div>


