<div class= "container">

<h1>index</h1>

    <% @posts.each do |post| %>

    <div class="row">

      <div class="col-4">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(150, 150) %>
      <% end %>
      </div>

      <div class="col-4">
      <%= '投稿者名' %>
      <%= post.user.name %>
      <%= '商品名' %>
      <%= post.text_name %>
      <%= '商品説明' %>
      <%= post.introduction %>
      <%= 'レビュー' %>
      <%= post.review %>
      <%= '価格' %>
      <%= post.price %>
      </div>

      <div class="col-4">
      <%= '総合評価' %>
      <div id="post_raty_<%= post.id %>" data-score="<%= post.total_score %>"></div>
        <script>
              // scriptファイルをどのidの部分に配置するかを指定
        raty(document.querySelector('#post_raty_<%= post.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= post.total_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '読みやすさ' %>
      <div id="read_score_raty_<%= post.id %>" data-score="<%= post.read_score %>"></div>
      <script>
        // scriptファイルをどのidの部分に配置するかを指定
        raty(document.querySelector('#read_score_raty_<%= post.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= post.read_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
      </script>

      <%= '価格の妥当性' %>
      <div id="price_score_raty_<%= post.id %>" data-score="<%= post.price_score %>"></div>
      <script>
        // scriptファイルをどのidの部分に配置するかを指定
        raty(document.querySelector('#price_score_raty_<%= post.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= post.price_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
      </script>

      <%= '実用度' %>
      <div id="usability_score_raty_<%= post.id %>" data-score="<%= post.usability_score %>"></div>
      <script>
        // scriptファイルをどのidの部分に配置するかを指定
        raty(document.querySelector('#usability_score_raty_<%= post.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= post.usability_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );

      </script>
      </div>

    </div>


      <% post.comments.each do |comment| %>
  <div>
    <p>投稿者名：<%= comment.user.name %></p>
    <p>コメント：<%= comment.comment_introduction %></p>
    <p><%#= link_to "削除", post_comment_path, method: :delete %></p>
      <%= '総合評価' %>
      <div id="comment_raty_<%= comment.id %>" data-score="<%= comment.total_score %>"></div>
        <script>
        raty(document.querySelector('#comment_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.total_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '読みやすさ' %>
      <div id="comment_read_score_raty_<%= comment.id %>" data-score="<%= comment.read_score %>"></div>
        <script>
        raty(document.querySelector('#comment_read_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.read_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>
              <%= '価格の妥当性' %>
      <div id="comment_price_score_raty_<%= comment.id %>" data-score="<%= comment.price_score %>"></div>
        <script>
        raty(document.querySelector('#comment_price_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.price_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>
                      <%= '実用度' %>
      <div id="comment_usability_score_raty_<%= comment.id %>" data-score="<%= comment.usability_score %>"></div>
        <script>
        raty(document.querySelector('#comment_usability_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.usability_score %>,
              readOnly: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>
  </div>
  <% end %>

<% end %>
</div>
