<h1>テキストのレビューを投稿する</h1>

<%= form_with model: @post do |f| %>

<%= f.text_field :name %>
<%= f.text_area :introduction %>

<%= f.text_area :review %>
<%= f.text_area :price %>
<%= f.text_area :total_score %>
<%= f.text_area :read_score %>
<%= f.text_area :price_score %>
<%= f.text_area :usability_score %>
<div id="post_raty"></div>
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let elem = document.querySelector('#post_raty');
  let opt = {  
    //星画像の指定などのオプションをここに記述,
   };
  raty(elem,opt);
</script>
