<div class="container p-5">
  <div class="row">
    <div class="col text-center">
      <h1>テキストのレビューを投稿する</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-8 mx-auto text-center">
      <%= form_with model: @post do |f| %>
      <table class='table'>
      <tr>
        <th><%= f.label :"商品画像" %></th>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th><%= f.label :"商品名" %></th>
        <td><%= f.text_field :text_name, size: "60x1" %></td>
      </tr>
      <tr>
        <th><%= f.label :"商品説明" %></th>
        <td><%= f.text_area :introduction, size: "60x3" %></td>
      </tr>
      <tr>
        <th><%= f.label :"レビュー" %></th>
        <td><%= f.text_area :review, size: "60x3" %></td>
      </tr>
      <tr>
        <th><%= f.label :"価格" %></th>
        <td><%= f.text_field :price %></td>
      </tr>

      <tr>
        <th><%= f.label :"総合評価" %></th>
        <td><%= f.hidden_field :total_score, class: 'form-control' %>
        <div id="total_post_raty"></div>
        <script>
          var total_score_raty_elem = document.querySelector('#total_post_raty');
          var total_score_raty_opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'post[total_score]',
            //星画像の指定などのオプションをここに記述,
           };
          raty(total_score_raty_elem, total_score_raty_opt);
        </script>
        </td>
      </tr>
      <tr>
        <th><%= f.label :"読みやすさ" %></th>
        <td><%= f.hidden_field :read_score, class: 'form-control' %>
        <div id="read_score_raty"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          var read_score_raty_elem = document.querySelector('#read_score_raty');
          var  read_score_raty_opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'post[read_score]',
            //星画像の指定などのオプションをここに記述,
           };
          raty(read_score_raty_elem, read_score_raty_opt);
        </script>
        </td>
      </tr>
      <tr>
        <th><%= f.label :"価格の妥当性" %></th>
        <td><%= f.hidden_field :price_score, class: 'form-control' %>
        <div id="price_score_raty"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          var  price_score_raty_elem = document.querySelector('#price_score_raty');
          var  price_score_raty_opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'post[price_score]',
            //星画像の指定などのオプションをここに記述,
           };
          raty(price_score_raty_elem, price_score_raty_opt);
        </script>
        </td>
      </tr>
      <tr>
        <th><%= f.label :"実用度" %></th>
        <td><%= f.hidden_field :usability_score, class: 'form-control' %>        <div id="usability_score_raty"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          var  usability_score_raty_elem = document.querySelector('#usability_score_raty');
          var  usability_score_raty_opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'post[usability_score]',
            //星画像の指定などのオプションをここに記述,
           };
          raty(usability_score_raty_elem, usability_score_raty_opt);
        </script>
        </td>
      </tr>
    </table>
    <%= f.submit '投稿' %>
    <% end %>
    </div>
</div>
</div>