<h1>textの詳細</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>
<div>

  <p>商品名：<%= @post.text_name %></p>
  <p>説明：<%= @post.introduction %></p>
  <p>投稿者名：<%= @post.user.name %></p>
  <p>価格：<%= @post.price %></p>

  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
</div>

  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
    <%= link_to "投稿編集", edit_post_path(@post) %>
  <% end %>
  
  
  <div>
  <%= form_with model: [@post, @post_comment] do |f| %>
  <%= '総合評価' %>
<%= f.hidden_field :total_score, class: 'form-control' %>

  <div id="post_raty"></div>
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let elem = document.querySelector('#post_raty');
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[total_score]',
    //星画像の指定などのオプションをここに記述,
   };
  raty(elem,opt);
</script>

<%= '読みやすさ' %>
  <%= f.hidden_field :read_score, class: 'form-control' %>
<div id="read_score_raty"></div>
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let read_score_raty_elem = document.querySelector('#read_score_raty');
  let read_score_raty_opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[read_score]',
    //星画像の指定などのオプションをここに記述,
   };
  raty(read_score_raty_elem, read_score_raty_opt);
</script>

<%= '価格の妥当性' %>
  <%= f.hidden_field :price_score, class: 'form-control' %>
<div id="price_score_raty"></div>
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let price_score_raty_elem = document.querySelector('#price_score_raty');
  let price_score_raty_opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[price_score]',
    //星画像の指定などのオプションをここに記述,
   };
  raty(price_score_raty_elem, price_score_raty_opt);
</script>


<%= '実用度' %>
  <%= f.hidden_field :usability_score, class: 'form-control' %>
<div id="usability_score_raty"></div>
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let usability_score_raty_elem = document.querySelector('#usability_score_raty');
  let usability_score_raty_opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[usability_score]',
    //星画像の指定などのオプションをここに記述,
   };
  raty(usability_score_raty_elem, usability_score_raty_opt);
</script>

    <%= f.text_area :comment_introduction, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>