        <div id="postForm" style="display: none;">
  <p>コメントする</p>
  <%= form_with model: [@post, @post_comment] do |f| %>

        <%= f.text_area :comment_introduction, rows: '5', placeholder: "コメントは120文字まで" %>
      </div>

        <%= f.label :"総合評価" %>
        <%= f.hidden_field :total_score, class: 'form-control' %>
        <div id="total_post_raty"></div>
        <script>
          var total_score_raty_elem = document.querySelector('#total_post_raty');
          var total_score_raty_opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'comment[total_score]',
            half: true,
            //星画像の指定などのオプションをここに記述,
          };
          raty(total_score_raty_elem, total_score_raty_opt);
        </script>
 

      <%= '読みやすさ' %>
        <%= f.hidden_field :read_score, class: 'form-control' %>
      <div id="read_score_raty"></div>
          <script>
            // scriptファイルをどのidの部分に配置するかを指定
            var read_score_raty_elem = document.querySelector('#read_score_raty');
            var  read_score_raty_opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'comment[read_score]',
              half: true,
             };
            raty(read_score_raty_elem, read_score_raty_opt);
          </script>
      <%= '価格の妥当性' %>
        <%= f.hidden_field :price_score, class: 'form-control' %>
      <div id="price_score_raty"></div>
          <script>
            // scriptファイルをどのidの部分に配置するかを指定
            var  price_score_raty_elem = document.querySelector('#price_score_raty');
            var  price_score_raty_opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'comment[price_score]',
              half: true,
             };
            raty(price_score_raty_elem, price_score_raty_opt);
          </script>
      <%= '実用度' %>
        <%= f.hidden_field :usability_score, class: 'form-control' %>
      <div id="usability_score_raty"></div>
          <script>
            // scriptファイルをどのidの部分に配置するかを指定
            var  usability_score_raty_elem = document.querySelector('#usability_score_raty');
            var  usability_score_raty_opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'comment[usability_score]',
              half: true,
             };
            raty(usability_score_raty_elem, usability_score_raty_opt);
          </script>
        <%= f.submit "送信する" %>
      <% end %>
 
    
    
    
    
    
    
    
    
    
    

  </div>