<%= stylesheet_link_tag '_footer' %>
<%= stylesheet_link_tag 'homes' %>
<div class= "container">
  <div class="row">
    <%= flash[:notice] %>
    <%= image_tag 'pexels-shvets-production-6974921.jpg', size: '1400x700'%>
  </div>
  <div class="row">

  </div>

    <div class="col">
    <p>〜Text番付へようこそ〜</p>
    
    <p>テキスト通りにやったのになんででけへんねん！！</p>
    <p>
    <p>プログラミング初学者の方は一度は経験したことかと思います。
    <p>学習を進めていくとテキストを丸写ししたからできるなんてそんなことではないな。</p>
    <p>と、気づいていくものですが。</p>
    
    <p>でも、やっぱりそういう初学者の方へ寄り添いたい、最初のテキストはわかりやすいものを手に取って欲しい。</p>
    <p>そんな想いで初学者向けのテキストを使用者の皆さんの評価順にランキングにしました。</p>
    
    <p>だから優しいピンクとベージュのカラーリングなわけです。ちょっとでも心が軽くなるように。</p>
  </div>
  <div class="row mt-5">
    <h1>Ranking</h1>
    <% @posts.each.with_index(1) do |post, i| %>
    <div class="col text-center">
      <strong><h1><%= "第#{i}位 #{post.ranking}" %></h1></strong>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <p>投稿者名：<%= post.user.name %>さん</p>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(150, 150) %>
      <% end %>
      <P><%= link_to "テキストの詳細をチェック", post_path(post.id) %></P>
    </div>
   <div class="col-6">
      <div class="box-title"> <%= post.text_name %></div>
      <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %>　　価格：<%= post.price %>円</p>
      <p>商品説明：<%= word_wrap(post.introduction, line_width: 30) %></p>
      <p>レビュー：<%= word_wrap(post.review, line_width: 30) %></p>
    </div>

    <div class="col-3 text-center">
      <h4><%= 'みんなの評価' %></h4></br>
      <%= '総合評価' %><%= post.comments.average(:total_score).to_f.round(1) %>
        <div id="post_raty_<%= post.id %>" data-score="<%= post.comments.average(:total_score).to_f.round(1) %>"></div>
        <script>
              // scriptファイルをどのidの部分に配置するかを指定
        raty(document.querySelector('#post_raty_<%= post.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= post.comments.average(:total_score).to_f.round(1) %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

        <%= '読みやすさ' %>
        <div id="read_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:read_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#read_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:read_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

        <%= '価格の妥当性' %>
        <div id="price_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:price_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#price_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:price_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

        <%= '実用度' %>
        <div id="usability_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:usability_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#usability_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:usability_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>
    </div>
  </div>

  <div class="row">
    <div class="col mt-5">
      <h4>すべてのコメント</h4><%= link_to "（コメントの投稿はこちら）", post_path(post.id) %>
    </div>
  </div>

  <div class="row scroll">
    <% post.comments.each do |comment| %>
      <div class="col-3 mt-5">
      <p>投稿者名：<%= comment.user.name %></p>
      <p>コメント：<%= comment.comment_introduction %></p>
      <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(post, comment.id), method: :delete %>
      <% end %>

      <%= '総合評価' %>
      <div id="comment_raty_<%= comment.id %>" data-score="<%= comment.total_score %>"></div>
        <script>
        raty(document.querySelector('#comment_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.total_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '読みやすさ' %>
      <div id="comment_read_score_raty_<%= comment.id %>" data-score="<%= comment.read_score %>"></div>
        <script>
        raty(document.querySelector('#comment_read_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.read_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '価格の妥当性' %>
      <div id="comment_price_score_raty_<%= comment.id %>" data-score="<%= comment.price_score %>"></div>
        <script>
        raty(document.querySelector('#comment_price_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.price_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '実用度' %>
      <div id="comment_usability_score_raty_<%= comment.id %>" data-score="<%= comment.usability_score %>"></div>
        <script>
        raty(document.querySelector('#comment_usability_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.usability_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>
      </div>
    <% end %>
  </div>
  <% end %>
</div>