<%= stylesheet_link_tag '_footer' %>
<%= stylesheet_link_tag 'homes' %>
<div class= "container">
    <%= flash[:notice] %>
  <div class="main-image row">
    <div class="intensifies col d-flex justify-content-center align-items-center">
        <h1>　テキスト通りに</br>
          　やったんですけどネ💢
        </h1>
    </div>
  </div>

  <div class="row">
    <div class="main-text col-10 offset-2">
    
    <p>〜Text番付へようこそ〜</p>

    <p>テキスト通りにやったのになんででけへんねん！！</p>
    <p>
    <p>プログラミング初学者の方は一度は経験したことかと思います。
    <p>学習を進めていくと、テキストを丸写ししたからできるなんてそんな甘いものではないな。</p>
    <p>と、気づいていくものですが。</p>

    <p>そういう初学者の方へ寄り添いたい、最初のテキストはわかりやすいものを手に取って欲しい。</p>
    <p>そんな想いで初学者向けのテキストを使用者の皆さんの評価順にランキングにしました。</p>

    <p>だから優しいピンクとベージュのカラーリングなわけです。ちょっとでも心が軽くなるように。</p>
    </div>
  </div>

    <h1>Ranking</h1>
    <% @posts.each.with_index(1) do |post, i| %>
    <div class="row mt-5">
    <div class="col text-center">
      <% if i == 1 %>
        <div class="first-place"></div>
      <% elsif i == 2 %>
        <div class="second-place"></div>
      <% else %>
        <div class="third-place"></div>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <p>投稿者名：<%= post.user.name %>さん</p>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(250, 250) %>
      <% end %>
      <P><%= link_to "テキストの詳細をチェック", post_path(post.id) %></P>
    </div>
    <div class="box col-6">
      
      <div class="post-title">
        <%= post.text_name %>
      </div>
      
      <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %>　　価格：<%= post.price %>円</p>
      <p>
        商品説明：<br><%= truncate(post.introduction, length: 120) do %>
            (続きは<%= link_to '詳細', post_path(post) %>をクリック。）
            <% end %>
      </p>
      <p>
        投稿者レビュー：<br><%= truncate(post.review, length: 100) do %>
            (続きは<%= link_to '詳細', post_path(post) %>をクリック。）
            <% end %>
      </p>
    </div>

    <div class="col-3 text-center">
      <h4><%= 'みんなの評価' %></h4></br>
      <%= '総合評価' %><%= post.comments.average(:total_score).to_f.round(1) %>
        <div id="post_raty_<%= post.id %>" data-score="<%= post.comments.average(:total_score).to_f.round(1) %>"></div>
        <script>
              // scriptファイルをどのidの部分に配置するかを指定
        raty(document.querySelector('#post_raty_<%= post.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= post.comments.average(:total_score).to_f.round(1) %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

        <%= '読みやすさ' %>
        <div id="read_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:read_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#read_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:read_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

        <%= '価格の妥当性' %>
        <div id="price_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:price_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#price_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:price_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>

        <%= '実用度' %>
        <div id="usability_score_raty_<%= post.id %>" data-score="<%= post.comments.average(:usability_score).to_f.round(1) %>"></div>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          raty(document.querySelector('#usability_score_raty_<%= post.id %>'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= post.comments.average(:usability_score).to_f.round(1) %>,
                readOnly: true,
                half: true,
          //星画像の指定などのオプションをここに記述,
              }
          );
        </script>
        <%= link_to "このテキストを評価する", post_path(post.id) %>
    </div>
  </div>

  <div class="row">
    <div class="col mt-5">
      <h4>すべてのコメント<i class="fas fa-mouse">scroll</i></h4>
    </div>
  </div>

  <div class="row scroll">
    <% post.comments.each do |comment| %>
      <div class="comment-box col-3 mt-5">
      <span class="box-title">投稿者名：<%= comment.user.name %></span>
      <p>コメント：</br><%= comment.comment_introduction %></p>

      <%= '総合評価' %>
      <div id="comment_raty_<%= comment.id %>" data-score="<%= comment.total_score %>"></div>
        <script>
        raty(document.querySelector('#comment_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.total_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '読みやすさ' %>
      <div id="comment_read_score_raty_<%= comment.id %>" data-score="<%= comment.read_score %>"></div>
        <script>
        raty(document.querySelector('#comment_read_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.read_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '価格の妥当性' %>
      <div id="comment_price_score_raty_<%= comment.id %>" data-score="<%= comment.price_score %>"></div>
        <script>
        raty(document.querySelector('#comment_price_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.price_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>

      <%= '実用度' %>
      <div id="comment_usability_score_raty_<%= comment.id %>" data-score="<%= comment.usability_score %>"></div>
        <script>
        raty(document.querySelector('#comment_usability_score_raty_<%= comment.id %>'),
            {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= comment.usability_score %>,
              readOnly: true,
              half: true,
        //星画像の指定などのオプションをここに記述,
            }
        );
        </script>
          <p><% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(post, comment.id), method: :delete %>
          </p>
      <% end %>

      </div>
    <% end %>
  </div>
  <% end %>
</div>