<div class="container p-5">
  <div class="row">
    <h1><%= @user_comment.name %>さんのコメント一覧（全<%= @user_comment.comments.count %>件）</h1>
    <table class='table'>
      <thead>
        <tr>
          <th>投稿日時</th>
          <th>テキスト名</th>
          <th>テキスト説明</th>
          <th>コメント内容</th>
          <th>総合評価</th>
          <th>読みやすさ</th>
          <th>価格の妥当性</th>
          <th>実用性</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to root_path do %>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
            <td>
              <%= comment.post.text_name %>
            </td>
            <td>
              <%= comment.post.introduction %>
            </td>
            <td>
              <%= comment.comment_introduction %>
            </td>
            <td>
              <%= comment.total_score %>
            </td>
            <td>
              <%= comment.read_score %>
            </td>
            <td>
              <%= comment.price_score %>
            </td>
            <td>
              <%= comment.usability_score %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%= paginate @comments %>
  </div>
</div>