<div class="container p-5">
  <div class="row">
    <h1>ユーザー情報編集</h1>
  </div>

  <div class="row mt-2">
    <div class="col-8 mx-auto text-center">
        <%= form_with model: @admin_edit, url: admin_user_path do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
    <%= f.submit '変更を保存' %>
    <% end %>
  </div>
</div>
</div>
