<div class="container">
  <div class="row">
    <div class="col-6 d-grid gap-2 mx-auto mt-4">
      <h2>プロフィール編集</h2>

      <%= form_with model: @user_edit, url: users_update_path do |f| %>
      <%= render "public/shared/error_messages", resource: @user_edit %>

        <div class="field">
          <%= f.label :'名前' %><br />
          <%= f.text_field :name, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions mt-2">
          <%= f.submit "Update", class: 'btn btn-secondary btn-md' %>
        </div>
      <% end %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <strong><%= link_to "退会の手続きはこちら", confirm_withdraw_path, class: 'btn btn-outline-danger btn-sm' %></strong>
      </div>
    </div>
  </div>
</div>