    <%= stylesheet_link_tag '_header' %>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-body">
    <div class="container">
      <a class="navbar-brand text-dark m-2" href="/">
        <h1><%= image_tag 'text_ranking.jpeg', size: "90x70"%></h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li><strong>〜管理者ログイン中〜</strong></li>
          <li>
            <%= link_to 'ユーザーリスト', admin_users_path, class: 'nav-link', style: 'color: #dda0dd; font-weight: bold;' %>
          </li>
          <li>
            <%= link_to 'text一覧', admin_posts_path, class: 'nav-link', style: 'color: #dda0dd; font-weight: bold;' %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link', style: 'color: #dda0dd; font-weight: bold;' %>
          </li>
        <% else %>
          <li>
            <strong>〜管理者ログイン画面〜</strong>
          </li>
          <li>
            <%= link_to 'ユーザーログイン', new_user_session_path, class: 'nav-link', style: 'color: #dda0dd; font-weight: bold;' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
